@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.fira-sans-regular {
  font-family: "Fira Sans", serif;
  font-weight: 400;
  font-style: normal;
}
/* shared styles  */
.m-width {
  max-width: 1280px;
  margin: 0 auto;
  background-color: rgba(241, 241, 243, 1);
}
.bg-green {
  background-color: #c6e4d6;
}
.btn {
  background-color: rgba(0, 106, 80, 1);
  color: #ffffff;
  padding: 17px 34px;
  border: none;
  border-radius: 8px;
  font-size: 16px;
  font-weight: 600;
}
.center {
  text-align: center;
}

.section-title {
  font-size: 38px;
  color: #0e0e0e;
  font-weight: 800;
  margin-bottom: 24px;
}
.section-desc {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 32px;
}
.bg-blue {
  background-color: rgba(84, 144, 245, 0.2);
}
.bg-orange {
  background-color: rgba(247, 235, 207, 1);
}
.bg-deepgreen {
  background-color: rgba(9, 161, 92, 1);
}
.bg-deeporange {
  background-color: rgba(255, 194, 57, 1);
}
.bg-deepblue {
  background-color: rgba(84, 144, 245, 1);
}

/* banner related styles  */
.section-banner {
  margin-top: 120px;
  padding: 80px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 24px;
}
.banner-heading {
  font-size: 22px;
  color: rgba(14, 14, 14, 0.5);
  font-weight: 600;
  margin-bottom: 16px;
}
.banner-desc {
  font-size: 53px;
  font-weight: 800;
  margin-bottom: 24px;
}
.banner-btn .btn:hover {
  background-color: orange;
  transition: 0.4s;
}

/* vision style  */
.section-vision {
  margin-top: 80px;
}
.card-container {
  display: flex;
  justify-content: space-between;
}
.card {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  width: 400px;
  padding: 32px;
  border-radius: 16px;
}
.card img {
  width: 62px;
  height: 62px;
}
.card-title {
  font-size: 19px;
  color: rgba(14, 14, 14, 0.8);
  margin-top: 24px;
  margin-bottom: 12px;
}
.card-desc {
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
  margin-bottom: 24px;
}
.card-btn .btn {
  padding: 11px 20px;
}

#btn1:hover {
  background-color: rgba(79, 92, 37, 0.5);
  transition: 0.8s;
}
#btn2:hover {
  background-color: rgb(25, 250, 224);
  transition: 0.8s;
}
#btn3:hover {
  background-color: rgb(207, 125, 230);
  transition: 0.8s;
}
/* comment section  */
.section-comment {
  margin-top: 32px;
  border: 1px solid rgba(14, 14, 14, 0.15);
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 1);
  padding: 34px 24px 48px 24px;
}
.section-comment1 {
  background: url("assets/quote-bg.png");
  background-repeat: no-repeat;
  background-position: left top;
  padding-top: 30px;
}
.comment-desc {
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.8);
  margin-bottom: 12px;
}
.speaker {
  font-size: 20px;
  font-weight: 600;
  color: rgba(14, 14, 14, 0.8);
}
.standing {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.6);
}

/* recent news related styles  */
.recent-section {
  margin-top: 80px;
}
.recent-card img {
  border-radius: 24px;
}
.recent-card {
  display: flex;
  gap: 32px;
  background-color: #ffffff;
  border-radius: 24px;
  padding: 48px;
  margin-bottom: 24px;
}
.recent-card-desc img {
  width: 150px;
  height: 50px;
  margin-bottom: 12px;
}
.recent-card-desc {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.recent-card-title {
  font-size: 31px;
  color: rgba(14, 14, 14, 0.8);
}
.date-time {
  margin-top: 0px;
  font-size: 16px;
  line-height: 24px;
  color: rgba(14, 14, 14, 0.7);
}
#space {
  margin-right: 12px;
}
.recent-inner-desc {
  font-size: 16px;
  color: rgba(14, 14, 14, 0.7);
  line-height: 24px;
  margin-bottom: 28px;
}
.recent-btn .btn {
  padding: 13px 26px;
}
.recent-btn .btn:hover {
  background-color: rgba(84, 144, 245, 1);
  transition: 0.7s;
}

/* row reverse  */
.row-reverse {
  flex-direction: row-reverse;
}

/* donate section  */
.section-donate {
  margin-top: 80px;
  padding: 10px 70px;
}
.donate-container {
  display: flex;
  justify-content: space-between;
  padding: 10px 30px;
}
#dotane1:hover {
  background-color: violet;
  transition: 0.2s;
}
#dotane2 {
  background-color: rgba(198, 228, 214, 1);
}
#dotane2:hover {
  background-color: rgba(9, 161, 92, 1);
  transition: 0.2s;
}
#dotane3:hover {
  background-color: steelblue;
  transition: 0.2s;
}
#dotane4:hover {
  background-color: blueviolet;
  transition: 0.2s;
}
.donate-btn .donate {
  border: none;
  background-color: #ffffff;
  padding: 40px;
  border-radius: 16px;
  font-size: 34px;
  font-weight: 800;
}
.donate-input {
  padding: 10px 120px;
}
.donate-input input {
  width: 100%;
  border: none;
  padding: 20px;

  margin-bottom: 20px;
}
.donate-input input::placeholder {
  text-align: center;
}
.donate-btn1 {
  text-align: center;
  margin-top: 0px;
}
.donate-btn1 .btn:hover {
  background-color: rgb(104, 94, 193);
  transition: 0.8s;
}
/* subscribe section  */
.section-subscribe {
  padding: 80px 260px;
  border-radius: 24px;
  margin-top: 80px;
  margin-bottom: 80px;
}
.section-subscribe .section-title {
  text-align: center;
}
.subscribe-input {
  margin-bottom: 24px;
}
input[type="email"] {
  border: none;
  padding: 20px 40px;
  width: 78%;
  border-radius: 8px 0px 0px 8px;
}
input[type="submit"] {
  border: none;
  padding: 19px 40px;
  background-color: rgba(0, 106, 80, 1);
  margin-left: -8px;
  border-radius: 0px 8px 8px 0px;
}
input[type="submit"] {
  color: #ffffff;
  font-size: 17px;
  font-weight: 600;
}

input[type="submit"]:hover {
  background-color: rgb(161, 106, 106);
  transition: 0.3s;
}
